# Banco de dados (SQLite para dev, PostgreSQL para prod)
DATABASE_URL="file:./prisma/dev.db"

# Porta do servidor
PORT=3001

# Chave secreta JWT (troque em produção!)
JWT_SECRET="gview-secret-dev"

# Chave da API RAWG IO (obtenha em https://rawg.io/apidocs)
RAWG_API_KEY="sua-chave-aqui"
